server:
  port: 8881
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db_library?characterEncoding=utf-8
    username: root
    password: root
  application:
    name: provide-server
eureka:
  client:
    service-url: # EurekaServer地址
      defaultZone: http://127.0.0.1:10086/eureka,http://127.0.0.1:10087/eureka
#设置接口超时时间
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 2000
    #给特定的serviceid设置超时时间
    consumer-server:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 5000

circuitBreaker:
  requestVolumeThreshold: 5        #最小请求次数
  sleepWindowInMilliseconds: 10000 #休眠10秒
  errorThresholdPercentage: 50     #默认50%的触发熔断