spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db_library?characterEncoding=utf-8
    username: root
    password: root
  application:
    name: search-item
  redis:
    host: 127.0.0.1
    port: 6379
  http:
    encoding:
      force: true
      charset: utf-8
      enabled: true
server:
  port: 8889


